language: node_js

# Use container-based infrastructure
sudo: false

# node versions to test
node_js:
  - "5"
  - "4"
  - "0.12"
  - "0.10"

# If any version fails, cancel the others
matrix:
  fast_finish: true
